*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
data/pdfs/Admissibility_Hearings_and_Detention_Reviews.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Adoptions.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Alternative_Means_of_Examination_Programs.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Alternatives_to_detention.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Appeals_at_the_Refugee_Appeal_Division_of_the_Immigration_and_Refugee_Board_of_Canada.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Appeals.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Appendices.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Application[[:space:]]for[[:space:]]Canadian[[:space:]]Citizenship_[[:space:]]Adults[[:space:]]-[[:space:]]Subsection[[:space:]]5(1)[[:space:]]CIT[[:space:]]0002[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Apply[[:space:]]for[[:space:]]permanent[[:space:]]residence[[:space:]]through[[:space:]]Express[[:space:]]Entry[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Biometrics_[[:space:]]How[[:space:]]to[[:space:]]give[[:space:]]your[[:space:]]fingerprints[[:space:]]and[[:space:]]photo[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Citizenship[[:space:]]and[[:space:]]immigration[[:space:]]application[[:space:]]fees_[[:space:]]Fee[[:space:]]list.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Deposits_and_Guarantees.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Detention.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Directives_for_Sharing_Information_pursuant_to_the_2003_Canada-U.S._SMU_on_Information_Sharing.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Documents[[:space:]]for[[:space:]]Express[[:space:]]Entry_[[:space:]]Proof[[:space:]]of[[:space:]]funds[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Educational[[:space:]]credential[[:space:]]assessment[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Entrepreneur_and_Self-Employed.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Entrepreneur_Program.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]After[[:space:]]you[[:space:]]apply[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Category-based[[:space:]]selection[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Check[[:space:]]your[[:space:]]score[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Comprehensive[[:space:]]Ranking[[:space:]]System[[:space:]](CRS)[[:space:]]criteria[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Create[[:space:]]your[[:space:]]profile[[:space:]]and[[:space:]]enter[[:space:]]the[[:space:]]pool[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Federal[[:space:]]Skilled[[:space:]]Trades[[:space:]]Program[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Federal[[:space:]]Skilled[[:space:]]Worker[[:space:]]Program[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Job[[:space:]]offer[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Language[[:space:]]test[[:space:]]results[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Police[[:space:]]certificates[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Rounds[[:space:]]of[[:space:]]invitations[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Express[[:space:]]Entry_[[:space:]]Who[[:space:]]can[[:space:]]apply[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Guide[[:space:]]5256[[:space:]]-[[:space:]]Applying[[:space:]]for[[:space:]]a[[:space:]]visitor[[:space:]]visa[[:space:]](temporary[[:space:]]resident[[:space:]]visa)[[:space:]]-[[:space:]]paper[[:space:]]application[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Guide[[:space:]]IMM[[:space:]]5445[[:space:]]-[[:space:]]Applying[[:space:]]for[[:space:]]a[[:space:]]permanent[[:space:]]resident[[:space:]]card[[:space:]](PR[[:space:]]card)[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Human_or_international_rights_violations.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/IAD_Appeal_Hearings.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Inadmissibility.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Investors.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Judicial_Review.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Loss_of_Permanent_Resident_Status.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Maritimes_Procedures.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Ministerial_Interventions.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Ministerial_opinions_on_danger_to_the_public,_nature_and_severity_of_the_acts_committed_and_danger_to_the_security_of_Canada.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Obligations_of_transporters.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Overview_on_Information-Sharing.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Part_1.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Part_4.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Permanent_Residency_Status_Determination.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Persons_Serving_Sentences.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Port_of_Entry_Examinations.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Processing_Applicants_for_the_Live-in_Caregiver_Program.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Processing_Live-in_Caregivers_in_Canada.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Recovering_Missing,_Abducted_and_Exploited_Children.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Removals.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Review_of_reports_under_subsection A44.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Search,_Seizure,_Fingerprinting_and_Photography.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Study[[:space:]]permit[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Study[[:space:]]permit_[[:space:]]After[[:space:]]you[[:space:]]apply[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Study[[:space:]]permit_[[:space:]]Get[[:space:]]the[[:space:]]right[[:space:]]documents[[:space:]]-[[:space:]]Proof[[:space:]]of[[:space:]]financial[[:space:]]support[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Study[[:space:]]permit_[[:space:]]Get[[:space:]]the[[:space:]]right[[:space:]]documents[[:space:]]Provincial[[:space:]]attestation[[:space:]]letter[[:space:]]or[[:space:]]territorial[[:space:]]attestation[[:space:]]letter[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Study[[:space:]]permit_[[:space:]]How[[:space:]]to[[:space:]]apply[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Study[[:space:]]permit_[[:space:]]While[[:space:]]you[[:space:]]study[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Study[[:space:]]permit_[[:space:]]Who[[:space:]]can[[:space:]]study[[:space:]]without[[:space:]]a[[:space:]]permit[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/The[[:space:]]Parents[[:space:]]and[[:space:]]Grandparents[[:space:]]Program_[[:space:]]Intake[[:space:]]Report[[:space:]]2020[[:space:]]to[[:space:]]2022[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Work[[:space:]]permit[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Work[[:space:]]permit_[[:space:]]After[[:space:]]you[[:space:]]apply[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Work[[:space:]]permit_[[:space:]]How[[:space:]]to[[:space:]]apply[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Work[[:space:]]permit_[[:space:]]Prepare[[:space:]]for[[:space:]]arrival[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Work[[:space:]]permit_[[:space:]]when[[:space:]]you[[:space:]]start[[:space:]]working[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Work[[:space:]]permit_[[:space:]]Who[[:space:]]can[[:space:]]apply[[:space:]]-[[:space:]]Canada.ca.pdf filter=lfs diff=lfs merge=lfs -text
data/pdfs/Writing_44.pdf filter=lfs diff=lfs merge=lfs -text
vector_store/index.faiss filter=lfs diff=lfs merge=lfs -text
